# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Pytest / unit test files
.pytest_cache/
.cache/
.coverage
.coverage.*
htmlcov/
.tox/

# Virtual environments
venv/
.venv/
env/
ENV/

# Environment variables and secrets
.env
.flaskenv

# Local SQLite databases & instance folder
instance/
*.db
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# IDEs/Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
